<h1>Here is stupid coach's answer:</h1>

<div class="card-product">
  <h2><%= @question %></h2>
  <p><em>-You</em></p>
</div>
<br>
<div class="card-product answer">
  <h2><%= @answer %></h2>
  <p><em>-Your coach</em></p>
</div>
<br>
<br>
<%= link_to 'Ask a new question', ask_path %>
