<h1>Stupid Coach</h1>
<p>Ask your coach anything:</p>
<form action="/answer">
  <input type="text" name="question" placeholder="Write your question here" id="input-text-box">
  <input type="submit" value="Ask!" id="input-button">
</form>
